<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Potvos video- & livestream-platform</title>

    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/logo-potvos.svg">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="preloader"></div>

    <div class="backdrop"></div>
    
    <div class="main-wrapper">
        <!-- header wrapper -->
        <div class="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 navbar p-0">
                        <a href="/" class="logo"><img src="images/logo-potvos.svg" style="width:50px;" alt="logo"></a>
                        <h1 class="logo-text">Potvos</h1>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav nav-menu float-none text-center">
                                <li class="nav-item" style="color: #888;">Video- & livestream-platform</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        
                        <a href="#" class="user-avater"><img src="images/tim-profile.jpeg" alt="Tim Vervoort"></a>
                        <div class="search-div">
                            <input type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header wrapper -->
        <!-- banenr wrapper -->
        <div class="banner-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner-wrap justify-content-between align-items-center">
                            <div class="left-wrap">
                                <span class="rnd">IMDb 9.3</span>
                                <h2>CTF PRIZE <BR>CEREMONY</h2>
                                <span class="tag"><b>PREMIERE</b></span>
                                <span class="tag">2021</span>
                                <span class="tag"><b>UHD</b></span>
                                <span class="tag"><b>18+ 😏</b></span>
                                <p>Are you ready for it? After a day in the battlefield, you can now kick back and enjoy the show. Get excited for special announcements and amazing prizes. Did you beat the competition? Find out now!</p>
                                <a href="stream" class="btn btn-lg"><img src="images/play.png" alt="icn">Watch now</a>

                            </div>
                            <div class="right-wrap">
                                <video autoplay muted loop id="myVideo">
                                  <!-- <source src="images/video1.mp4" type="video/mp4"> -->
                                  <!-- <source src="images/potvos-dagboek-short.mp4" type="video/mp4"> -->
                                  <source src="images/video-hacker-2.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="slide-wrapper">
                        <div class="slide-slider owl-carousel owl-theme">
                            <div class="owl-items">
                                <a class="slide-one slide-two slide-three" href="#">
                                    <div class="slide-image" style="background-image: url(images/s4.jpg);"></div>
                                    <div class="slide-content">
                                        <h2>CTFs <img src="images/plus.png" alt="icon"></h2>
                                        <span class="tag">2 h 20 min</span>
                                        <span class="tag">2020</span>
                                        <span class="tag"><b>HD</b></span>
                                        <span class="tag"><b>16+</b></span>
                                    </div>
                                </a>
                            </div>
                            <div class="owl-items">
                                <a class="slide-one slide-two slide-three" href="#">
                                    <div class="slide-image" style="background-image: url(images/s3.jpg);"></div>
                                    <div class="slide-content">
                                        <h2>ARE <img src="images/plus.png" alt="icon"></h2>
                                        <span class="tag">2 h 20 min</span>
                                        <span class="tag">2020</span>
                                        <span class="tag"><b>HD</b></span>
                                        <span class="tag"><b>16+</b></span>
                                    </div>
                                </a>
                            </div>
                            <div class="owl-items">
                                <a class="slide-one slide-two slide-three" href="#">
                                    <div class="slide-image" style="background-image: url(images/s2.jpg);"></div>
                                    <div class="slide-content">
                                        <h2>SO MUCH <img src="images/plus.png" alt="icon"></h2>
                                        <span class="tag">2 h 20 min</span>
                                        <span class="tag">2020</span>
                                        <span class="tag"><b>HD</b></span>
                                        <span class="tag"><b>16+</b></span>
                                    </div>
                                </a>
                            </div>
                            <div class="owl-items">
                                <a class="slide-one slide-two slide-three" href="#">
                                    <div class="slide-image" style="background-image: url(images/s1.jpg);"></div>
                                    <div class="slide-content">
                                        <h2>FUN !! <img src="images/plus.png" alt="icon"></h2>
                                        <span class="tag">2 h 20 min</span>
                                        <span class="tag">2020</span>
                                        <span class="tag"><b>HD</b></span>
                                        <span class="tag"><b>16+</b></span>
                                    </div>
                                </a>
                            </div>
                        </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banenr wrapper -->

        <!-- crew wrapper -->
        <div class="slide-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-left mb-4 mt-4">
                        <h2>The Crew</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="team-slider owl-carousel owl-theme">
                            <div class="owl-items"><a href="#" class="crew-wrap"><img src="images/tim-profile.jpeg" alt="Tim"><span>Tim<span style="display: block; margin-top: -8px;font-weight: bold">Potvos</span></span></a></div>
                            <div class="owl-items"><a href="#" class="crew-wrap"><img src="images/robin-profile.png" alt="Robin"><span>Robin<span style="display: block; margin-top: -8px;font-weight: bold">Potvos</span></span></a></div>
                            <div class="owl-items"><a href="#" class="crew-wrap"><img src="images/isaac-profile.jpeg" alt="Isaac"><span>Isaac<span style="display: block; margin-top: -8px;font-weight: bold">UHCTF</span></span></a></div>
                            <div class="owl-items"><a href="#" class="crew-wrap"><img src="images/martijn-profile.jpeg" alt="Martijn"><span>Martijn<span style="display: block; margin-top: -8px;font-weight: bold">UHCTF</span></span></a></div>
                            <div class="owl-items"><a href="#" class="crew-wrap"><img src="images/jorrit-profile.jpg" alt="Jorrit"><span>Jorrit<span style="display: block; margin-top: -8px;font-weight: bold">UHCTF</span></span></a></div>
                            <div class="owl-items"><a href="#" class="crew-wrap"><img src="images/cameraman-profile.jpg" alt="You?"><span>You?<span style="display: block; margin-top: -8px;font-weight: bold">Potvos</span></span></a></div>
                            <div class="owl-items"><a href="#" class="crew-wrap"><img src="images/anonymous-profile.jpg" alt="You?"><span>You?<span style="display: block; margin-top: -8px;font-weight: bold">UHCTF</span></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- slider wrapper -->
        <div class="slide-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-left mb-4 mt-4">
                        <h2>Specials & Latest Movies</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="slide-slider owl-carousel owl-theme">
                            <div class="owl-items">
                                <a class="slide-one" href="#">
                                    <div class="slide-image"><img src="images/s1.jpg" alt="image"></div>
                                    <div class="slide-content">
                                        <h2>Fun !! <img src="images/plus.png" alt="icon"></h2>
                                        <p>The template didn't have the 'Specials' in the same order. That's a shame. Who developed this?</p>
                                        <span class="tag">2 h 20 min</span>
                                        <span class="tag">2020</span>
                                        <span class="tag"><b>HD</b></span>
                                        <span class="tag"><b>16+</b></span>
                                    </div>
                                </a>
                            </div>
                            <div class="owl-items">
                                <a class="slide-one" href="#">
                                    <div class="slide-image"><img src="images/s2.jpg" alt="image"></div>
                                    <div class="slide-content">
                                        <h2>So much <img src="images/plus.png" alt="icon"></h2>
                                        <p>Now the names of the movies don't align anymore like they do at the top of the page.</p>
                                        <span class="tag">2 h 20 min</span>
                                        <span class="tag">2020</span>
                                        <span class="tag"><b>HD</b></span>
                                        <span class="tag"><b>16+</b></span>
                                    </div>
                                </a>
                            </div>
                            <div class="owl-items">
                                <a class="slide-one" href="#">
                                    <div class="slide-image"><img src="images/s3.jpg" alt="image"></div>
                                    <div class="slide-content">
                                        <h2>Are <img src="images/plus.png" alt="icon"></h2>
                                        <p>And the challenge creators just look like fools. Luckily the live stream is locked away securely.</p>
                                        <span class="tag">2 h 20 min</span>
                                        <span class="tag">2020</span>
                                        <span class="tag"><b>HD</b></span>
                                        <span class="tag"><b>16+</b></span>
                                    </div>
                                </a>
                            </div>
                            <div class="owl-items">
                                <a class="slide-one" href="#">
                                    <div class="slide-image"><img src="images/s4.jpg" alt="image"></div>
                                    <div class="slide-content">
                                        <h2>CTFs <img src="images/plus.png" alt="icon"></h2>
                                        <p>No one would want to spoil the winners and their prizes! Wait.. How would that even work? Time travel?</p>
                                        <span class="tag">2 h 20 min</span>
                                        <span class="tag">2020</span>
                                        <span class="tag"><b>HD</b></span>
                                        <span class="tag"><b>16+</b></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider wrapper -->
         
        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h4 class="mb-4">Potvos makes all kinds of videos and helps you deliver great quality live events. Together with their team, you can tell a story to your audience with professional video. They record at <a style="display: inline" href="https://www.potvos.video/op-locatie">your preferred location</a> or <a style="display: inline" href="https://www.potvos.video/studio-oranjeboom">in their studio</a>.</h4>
                    </div>

                    <div class="col-sm-12 lower-footer"></div>
                    <div class="col-sm-6">
                        <p class="copyright-text"><a href="https://potvos.video">Potvos</a> © 2021 copyright. All rights reserved.</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p class="float-right copyright-text">How did you get here? You're not <a href="https://timvervoort.com">Tim</a>!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    


    <script src="js/plugin.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    
</body>

</html>