<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Potvos video- & livestream-platform</title>

    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/logo-potvos.svg">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body style="background: #fff6ea;">

    <div class="preloader"></div>

    <div class="backdrop"></div>

    <div class="main-wrapper">
        <img src="images/logo-potvos.svg" alt="logo" class="logo-backdrop" style="
        position: fixed;
        height: 70vh;
        left: 50vw;
        transform: translateX(-90%);
        filter: blur(20px);
        opacity: 0.3;
        bottom: 20px;
    ">
        <!-- header wrapper -->
        <div class="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a href="/" class="logo float-none mt-4"><img src="images/logo-potvos.svg" style="width:50px;"
                                alt="logo"></a>
                        <h1 class="logo-text">Potvos</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- header wrapper -->

        <section class="form-wrapper">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <div class="form-div text-center">
                            <h2>Soon...</h2>
                            <h3>The stream starts at {{targetTime}},</h3>
                            <p>and it looks like it is only {{requestedTime}} for you. Please come back when the
                                livestream has started.</p>
                            <p><a href="/" style="color: orange">Go back</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="js/plugin.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>

</body>
</html>